body {
    direction: rtl;
    text-align: right;
    width: 80%;
    margin: 0 auto;
}

label {
    vertical-align: middle;
}

#taxAmt {
    color: #ff0000;
}

.link-title:hover {
    text-decoration: none;
}